Personal_Assistant/My_workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad27ea3d-819f-4f83-bb96-3fda5bdab591",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -40
      ],
      "id": "f18fc98a-b389-4aa4-9938-f0118e8e16d5",
      "name": "Webhook",
      "webhookId": "ad27ea3d-819f-4f83-bb96-3fda5bdab591"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json[\"body\"][\"query\"] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Your role is my calendar assistant. It's your job to add things to available time slots on my calendar. The tools you have available will allow you to find empty time slots first, then create new events once you've confirmed time slot with me.\nToday's date is: \n\n{{ DateTime.now().setZone('America/New_York').toFormat('yyyy-MM-dd HH:mm:ss')}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -160,
        -100
      ],
      "id": "d4e85842-b1d0-4208-b9b9-4a7b653a8030",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        140
      ],
      "id": "01850bb2-67f7-48f1-89f7-20f5eb9102ee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mJH6I2n2WrYZ7YCm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json[\"body\"][\"query\"] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -120,
        200
      ],
      "id": "156b8f45-edf9-4b34-bd19-2a598175272b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This is the tool you use to create calendar events.",
        "calendar": {
          "__rl": true,
          "value": "dekhane.aishwarya@gmail.com",
          "mode": "list",
          "cachedResultName": "dekhane.aishwarya@gmail.com"
        },
        "start": "={{ $fromAI('start_date')}}",
        "end": "={{ $fromAI('end_date')}}",
        "additionalFields": {
          "description": "={{ $fromAI('description')}}",
          "summary": "={{ $fromAI('summary')}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        20,
        180
      ],
      "id": "335c2b3b-be92-40de-b7ea-3b4afc819134",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZQavtzixawIa1Yme",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool is for searching for available time slots in my calendar.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "dekhane.aishwarya@gmail.com",
          "mode": "list",
          "cachedResultName": "dekhane.aishwarya@gmail.com"
        },
        "timeMin": "={{ $fromAI('start_time')}}",
        "timeMax": "={{ $fromAI('end_time')}}",
        "options": {
          "outputFormat": "raw",
          "timezone": {
            "__rl": true,
            "value": "America/New_York",
            "mode": "list",
            "cachedResultName": "America/New_York"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        140,
        100
      ],
      "id": "0217cf07-616a-4382-9069-2f45fea21bfe",
      "name": "Search_Availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZQavtzixawIa1Yme",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search_Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2d13452-4a90-4fb2-a329-36ae9539c005",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aab6df8bf8bcc278e387609c773b68c6e56f01fe48e3a6632c9c246229b2a428"
  },
  "id": "ySOYBBW01xyUDJph",
  "tags": []
}